.header {
    &__title {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 50px;
        line-height: 64px;
        color: var(--main-font);
    }

    &_template {
        margin-bottom: 17px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 25px 0px;
    }
}