.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 579px;
    height: 192px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 32px 40px 24px;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    &__info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 433px;
    }
    
    &__avatar {
        background: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);
        width: 64px;
        height: 64px;
        border-radius: 50%;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: backgroundMovement;
        animation-timing-function: linear;
        background-size: 200%;
    }
    
    @keyframes backgroundMovement {
        0% {
            background-position: 100%;
        }
    
        100% {
            background-position: -100%;
        }
    }
    
    &__line {
        background: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);    height: 20px;
        margin-bottom: 10px;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: backgroundMovement;
        animation-timing-function: linear;
        background-size: 200%;

        &_sm {
            width: 40%;
        }
        
        &_md {
            width: 60%;
        }
        
        &_lg {
            width: 100%;
        }
    }
}
