.sceleton__container {
    width: 100%;
}

.sceleton__container_title {
    text-transform: uppercase;
    color: var(--grey-3);
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 32px;
    margin-top: 64px;
}

.sceleton__container_section {
    width: 100%;
    height: 100%;
}

.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 579px;
    height: 192px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 32px 40px 24px;
}

.skeleton__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.skeleton__body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.skeleton__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 433px;
}

.skeleton__avatar {
    background: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: backgroundMovement;
    animation-timing-function: linear;
    background-size: 200%;
}

@keyframes backgroundMovement {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.skeleton__line {
    background: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);    height: 20px;
    margin-bottom: 10px;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: backgroundMovement;
    animation-timing-function: linear;
    background-size: 200%;
}

.skeleton__line_sm {
    width: 40%;
}

.skeleton__line_md {
    width: 60%;
}

.skeleton__line_lg {
    width: 100%;
}
