/* Стилизация кнопки */

:root {
    --royal-blue: #4263eb;
    --persian-blue: #2342c0;
    --purple-heart: #5028c6;
}

button {
    width: 189px;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 18.75px;
    cursor: pointer;
} 

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button__primary {
    background-color: var(--royal-blue);
}

.button__primary:hover {
    background-color: var(--persian-blue);
}

.button__primary_disabled:disabled {
    background-color: var(--royal-blue);
    color: var(--white);
}

.button__secondary {
    background-color: var(--purple);
}

.button__secondary:hover {
    background-color: var(--purple-heart);
}

.button__secondary_disabled:disabled {
    background-color: var(--purple-heart);
}

.button__alternate {
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
    background-color: var(--white);
}

.button__alternate:hover {
    border-color: var(--black);
}

.button__alternate_disabled:disabled {
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}