.checkbox {
    display: inline-block;
    cursor: pointer;

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        outline: none;
        position: absolute;
        clip: rect(0 0 0 0);
    }
    
    &__state {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    &__label {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: var(--secondary-light-font);
        margin-left: 12px;
    }
    
    &__control {
        width: 28px;
        height: 28px;
        border: 1px solid var(--grey-2);
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
    }
    
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 13px;
        color: var(--white);
        display: none;
    }
    
    &__input:checked ~ &__state &__control {
        background-color: var(--royal-blue);
        border-color: var(--royal-blue);
        animation: pulse 0.5s;
    }
    
    &__input:checked ~ &__state &__icon {
        display: block;
    }
    
    &__input:disabled ~ &__state &__control {
        background-color: var(--grey-2);
        border-color: var(--grey-2);
    }
    
    &__input:disabled ~ &__state &__label {
        color: var(--disabled-font);
    }
    
    &__input:focus ~ &__state &__label {
        text-decoration: underline;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #bdc3c7;
    }
    100% {
        box-shadow: 0 0 0 1.5rem rgba(189, 195, 199, 0);
    }
}