.radio {
    display: inline-block;
    cursor: pointer;
}

.radio__input {
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    clip: rect(0 0 0 0);
}

.radio__state {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radio__label {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--grey-4);
    margin-left: 12px;
}

.radio__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 14px;
    box-sizing: border-box;
    position: relative;
}

.control__circle {
    width: 18px;
    height: 18px;
    border-radius: 14px;
    background-color: var(--royal-blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid var(--royal-blue);
}

.radio__input:checked ~ .radio__state .control__circle {
    display: block;
}

.radio__input:disabled ~ .radio__state .radio__control {
    background-color: var(--grey-2);
    border-color: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__label {
    color: var(--grey-2);
}

.radio__input:focus ~ .radio__state .radio__label {
    text-decoration: underline;
}

.checkbox {
    display: inline-block;
    cursor: pointer;
}

.checkbox__input {
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    clip: rect(0 0 0 0);
}

.checkbox__state {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox__label {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--grey-4);
    margin-left: 12px;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}

.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 13px;
    color: var(--white);
    display: none;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background-color: var(--royal-blue);
    border-color: var(--royal-blue);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background-color: var(--grey-2);
    border-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
    color: var(--grey-2);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}

.toggler {
    display: inline-block;
    cursor: pointer;
}

.toggler__input {
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    clip: rect(0 0 0 0);
}

.toggler__state {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggler__label {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--grey-4);
    margin-left: 12px;
}

.toggler__control {
    width: 52px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.toggler__circle {
    width: 24px;
    height: 24px;
    border-radius: 16px;
    background-color: var(--grey-2);
    padding: 1px;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background-color: var(--royal-blue);
    border-color: var(--royal-blue);
    justify-content: flex-end;
}

.toggler__input:checked ~ .toggler__state .toggler__circle {
    background-color: var(--white);
}


.toggler__input:disabled ~ .toggler__state .toggler__control {
    background-color: var(--grey-2);
    border-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__circle {
    background-color: var(--grey-3);
}

.toggler__input:focus ~ .toggler__state .toggler__label {
    text-decoration: underline;
}
