.custom__container {
    width: 100%;
}

.custom__container_section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    grid-gap: 32px;
}

.custom__container_title {
    text-transform: uppercase;
    color: var(--grey-3);
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 32px;
    margin-top: 64px;
}