.theme-changer {
    margin-left: auto;
}

.theme-changer__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    color: var(--grey-3);
}

.theme-changer__toggler {
    margin: 0 14px;
}
