.avatar {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
