.histogram {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 354px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;
}

.histogram__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__orders {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--black);
    line-height: 24px;
}

.header__view-control {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--royal-blue);
    line-height: 24px;
}

.header__counter {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--black);
    line-height: 26px;
}

.histogram__chart {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 39px;
}

.chart__column {
    background-color: var(--royal-blue);
    margin-top: auto;
    margin-right: 1px;
    flex-basis: 281px;
    flex-grow: 1;
}

.chart__column:last-child {
    margin-right: 0px;
}