.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    &__box {
        max-width: 1110px;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        &__box {
            max-width: 768px;
        }
    }
}
