@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --white-transparent: #ffffff75;
    --black: #212429;
    --black-black: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-heart: #5028c6;
    --blue: #374FC7;
    --royal-blue: #4263eb;
    --persian-blue: #2342c0;
    --free-speech-blue: #374FC7;
    --cornflower-blue: #708AF0;
    --rock-blue: #90A0B7;
    --alice-blue: #F9FAFC;
    --red: #F03D3E;
    --tenne: #D84910;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --cello: #334D6E;
    --silver: #C4C4C4;
    --san-juan: #334D6E;
    --perano: #A0B1F5;
    
    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

html {
    --main-bg: var(--white);
    --preview-bg: var(--alice-blue);
    --selection-bg: rgba(160, 177, 245, 0.2);
    --main-font: var(--black);
    --secondary-font: var(--black);
    --secondary-light-font: var(--grey-4);
    --month-font: var(--cello);
    --week-font: var(--rock-blue);
    --day-font: var(--san-juan);
    --day-selected-font: var(--san-juan);
    --disabled-font: var(--grey-2);
    --title-shapes: var(--black);
    --tab-font: var(--black);
    --input-font: var(--grey-4);
}

html[data-theme-dark] {
    --main-bg: var(--black);
    --preview-bg: var(--grey-4);
    --selection-bg: var(--cornflower-blue);
    --main-font: var(--white-transparent);
    --secondary-font: var(--grey-3);
    --secondary-light-font: var(--white);
    --month-font: var(--white-transparent);
    --week-font: var(--grey-3);
    --day-font: var(--white-transparent);
    --day-selected-font: var(--white);
    --disabled-font: var(--white-transparent);
    --title-shapes: var(--grey-1);
    --tab-font: var(--grey-2);
    --input-font: var(--white-transparent);
}

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
