.page {
    background-color: var(--template-color);

    &_template {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
    }

    &__box_template {
        display: grid;
        grid-template-columns: 285px 1fr;
        margin-top: 32px;
    }

    &__main {
        flex-grow: 1;

        .main {
            &__content {
                background-color: var(--main-bg);
                box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
                border-radius: 12px;
                padding: 32px 48px;
        
                .content__title {
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 28px;
                    line-height: 38px;
                    color: var(--main-font);
                    margin-bottom: 30px;
                }

                .content__component {
                    margin-bottom: 30px;
                }
                
                .content__component_tooltip {
                    padding-top: 70px;
                    padding-left: 35px;
                }
                
                .content__component_input {
                    display: grid;
                    grid-template-columns: repeat(3, max-content);
                    grid-template-rows: repeat(3, auto);
                    grid-auto-flow: column;
                    grid-gap: 15px 30px;
                }
            }
        }
    }
    
@media (max-width: 768px) {
    .page__box_template {
        display: block;
        padding: 0px 16px;
    }

    .header {
        background-color: var(--alice-blue);
    }

    .header_template {
        margin: 0px;
    }

    .main {
        &__content {
        flex-grow: 1;

            .content__title {
                font-size: 20px;
            }

            .content__component_input {
                display: grid;
                grid-template-columns: repeat(1, auto);
                grid-template-rows: auto;
                grid-gap: 30px;
                grid-auto-flow: row;
            }
        }
    }        
}
}
