.footer {
    padding: 80px 0;

    &__title {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 38px;
        line-height: 1.26;
        color: var(--main-font);
        text-align: center;
        margin-bottom: 24px;
    }
    
    &__description {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--main-font);
        text-align: center;
    }

    &__description_template {
        font-size: 16px;
        line-height: 24px;
        color: var(--grey-3);
        margin-bottom: 32px;
    }
    
@media (max-width: 768px) {
    padding: 32px 0px;

    &_template {
        padding: 0px;
    }

    &__title {
        font-size: 24px;
        font-weight: 400;
        margin-top: 0px;
    }

    &__description {
        font-size: 16px;
        margin-bottom: 32px;
    }
}
}
