.logo__wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 17px;
    padding-right: 16px;
}

.logo__image {
    width: 110px;
    height: 32px;
}

.logo__square {
    border: 15px solid var(--title-shapes);
}

.logo__circle {
    border: 15px solid var(--title-shapes);
    border-radius: 50%;
}

.logo__triangle {
    border: 15px solid transparent;
    border-bottom: 15px solid var(--title-shapes);
    border-left: 15px solid var(--title-shapes);
}

@media (max-width: 768px) {
    .logo__wrapper {
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
}
