.logo__wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 17px;
}

.logo__square {
    border: 15px solid var(--black);
}

.logo__circle {
    border: 15px solid var(--black);
    border-radius: 50%;
}

.logo__triangle {
    border: 15px solid transparent;
    border-bottom: 15px solid var(--black);
    border-left: 15px solid var(--black);
}