.accordion {
    width: 100%;

    &__item {
        border: 1px solid var(--grey-3);
        border-radius: 8px;
        box-sizing: border-box;
        margin-bottom: 8px;
        padding: 24px 32px;

        .item {
            &__title {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                color: var(--black-black);
                line-height: 24px;
            }
            
            &__title:first-child {
                color: var(--black);
            }
            
            &__body {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                color: var(--grey-4);
                line-height: 24px;
            }
        }
    }
    
    &__item:last-child {
        margin-bottom: 0px;
    }

    &__summary {
        display: block;
        position: relative;

        .summary__arrow {
            width: 18px;
            height: 10px;
            position: absolute;
            right: 0;
            animation: crotation .5s;
        }
    }
    
    &__summary::-webkit-details-marker {
        display: none;
    }

    &__item[open] .summary__arrow {
        animation: rotation .5s;
        transform: rotate(180deg);
    }
}

@keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-180deg);}
}

@keyframes crotation {
    0% {transform: rotate(-180deg);}
    100% {transform: rotate(0deg);}
}