.modal {
    background-color: rgba(196, 196, 196, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    &_preview {
        display: block;
        position: static;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    &__content {
        background-color: var(--main-bg);
        border-radius: 8px;
        width: 428px;
        height: 318px;
        padding: 30px 40px 33px 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    &__content_preview {
        width: auto;
        height: auto;
        margin: 15px;
        padding: 15px 20px;
    }
    
    &_preview &__content {
        top: 0;
        left: 0;
        transform: none;
        position: relative;
    }
    
    &__title {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        color: var(--cello);
    }
    
    &__description {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: var(--grey-4);
    }
    
     &__button {
        height: 14px;
        width: 14px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
    
@media (max-width: 768px) {
    &__content {
        width: auto;
        max-width: 100%;
    }
}
}
