.modal {
    background-color: rgba(196, 196, 196, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.modal__content {
    background-color: var(--white);
    border-radius: 8px;
    width: 428px;
    height: 294px;
    padding: 30px 40px 33px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__title {
    font-family: Inter;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: var(--cello);
}

.modal__description {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--grey-4);
}

 .modal__button {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
