.histogram {
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;

    &__block {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header {
            &__orders {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                color: var(--secondary-font);
                line-height: 24px;
            }
            
            &__view-control {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
                color: var(--royal-blue);
                line-height: 24px;
            }
            
            &__counter {
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 20px;
                color: var(--main-font);
                line-height: 26px;
            }
        }
    }
    
    &__chart {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 39px;
        animation: appear 0.6s ease-out;

        .chart__column {
            background-color: var(--royal-blue);
            margin-top: auto;
            margin-right: 1px;
            flex-basis: 9px;
            flex-grow: 1;
        }
        
        .chart__column:last-child {
            margin-right: 0px;
        }
    }
}

@keyframes appear {
    0% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }

    50% {
        transform: scaleY(0);
        transform-origin: bottom center;
    }

    100% {
        transform: scaleY(1);
        transform-origin: bottom center;
    }
}
