.preview {
    background-color: var(--grey-2);
    padding: 68px 0;
}

.preview__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.preview__card {
    width: 33.3333%;
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}