.preview {
    background-color: var(--preview-bg);
    padding: 68px 0;
}

.preview__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.preview__card {
    flex-basis: 350px;
}

.preview__card-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(33.3333% - 15px));
    grid-template-rows: repeat(auto-fill, minmax(350px, auto));
    grid-auto-flow: row;
    grid-gap: 30px;
}

@media (max-width: 768px) {
    .preview__box {
        gap: 15px;
    }

    .preview__card {
        flex-basis: 240px;
    }
}
