.text {
    display: inline-block;
}

.text__input {
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    clip: rect(0 0 0 0);
}

.text__state {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

}

.text__label {
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: var(--grey-3);
    text-transform: uppercase;
}

.text__field {
    width: 350px;
    height: 56px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
}

.field__text {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: var(--grey-2);
    margin-left: 24px;
}

.text__input:focus ~ .text__state .field__text,
.text__input_success ~ .text__state .field__text,
.text__input_invalid ~ .text__state .field__text {
    color: var(--grey-4);
}

.text__icon {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
    width: 24px;
    height: 24px;
    color: var(--white);
    display: none;
}

.text__input:focus ~ .text__state .text__field {
    border: 1px solid var(--royal-blue);
}

.text__input_success ~ .text__state .text__icon {
    display: block;
    color: var(--free-speech-blue);
}

.text__input_invalid ~ .text__state .text__icon {
    display: block;
    color: var(--red);
}

.text__input_invalid:focus ~ .text__state .text__field {
    border: 1px solid var(--red);
}
